<%= form_for Job.new do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %> <br>

  <%= f.label :description %>
  <%= f.text_field :description %> <br>


  <%= f.label :origin %>
  <%= f.select :origin, ["Mexico", "Spain", "Dubai", "NYC", "Florida", "Cuba"], prompt: :select %><br><br>


  <%= f.label :destination %>
  <%= f.select :destination, ["Japan", "China", "Russia", "India", "Australia", "South Africa"], prompt: :select %><br><br>


  <%= f.label :cost %>
  <%= f.number_field :cost %> <br>

  <%= f.label :containers_needed %>
  <%= f.number_field :containers_needed %> <br>


  <p>Boats:</p>
 <% @boats_arr.each do |boat| %>
   <%= check_box_tag "boat[boat_ids][]", boat.id %>
   Boat NAME: <%= f.label boat.name %>

   <br>
 <% end %>


  <%= f.submit %>
<% end %>
