
<%= @message %>

<br>
<br>

ASSIGNED: <%= @job.boats.inspect %>


<h1>JOBS INFO</h1>
<hr>

<%= @job.name %><br>
<%= @job.description%><br>
<%= @job.origin%><br>
<%= @job.destination%><br>
<%= @job.cost%><br>
<%= @job.containers_needed%><br>


<hr>

<div class="">
  All boats assigned to this job:
</div>

<%=%>
<%=%>
<%=%>
