
<%= @message %>

<br>

<h1>JOB INFO</h1>
<hr>

NAME: <%= @job.name %><br>
DESCRIPTION: <%= @job.description%><br>
ORIGIN: <%= @job.origin%><br>
DESTINATION: <%= @job.destination%><br>
COST: <%= @job.cost%><br>
CONTAINERS NEEDED: <%= @job.containers_needed%><br>


<hr>

<div class="">
  <h1>All Boats Assigned To This Job:</h1>
</div>
<br>
<% @job.boats.each do |boat| %>
NAME: <%= boat.name %>
<hr>
<% end %>
