<h1> Your Company Info:</h1>

	<br>
	<%=  image_tag @company.image.url%>
	<hr>

<h1> <%= link_to "Add a New Boat", new_boat_path %> </h1>
	<h3>Boat List:</h3>
	<hr>
	<% @company_boats.each do |boat| %>
	  Boat ID: <%= boat.id %><br>
	  Boat Name: <%= boat.name %><br>


		<%=  image_tag boat.image.url(:thumb)%>
		<hr>
	  <br><br>
	<% end %>
