
<h1>List of All Boats</h1>

<div class="link1">
  <h3> <%= link_to ("Create New Boat"), new_boat_path %> </h3>

</div>

<hr>


<% @boats.each do |boat| %>
  NAME: <%= boat.name %> <br>
  MAXIMUM CONTAINERS: <%= boat.maxcontainers %> <br>
  COMPANY ID: <%= boat.company_id %> <br>
  LOCATION: <%= boat.location %> <br>


  <%= link_to ("Owned By"), company_path(boat.company_id) %>

  <br><br>

  <%= link_to ("View This Boat"), boat_path(boat.id) %> |
  <%= link_to 'Delete Boat',  { action: :destroy, id: boat.id }, method: :delete %>
  <hr>

<% end %>
