
<h1>List of All Boats</h1>

<div class="link1">
  <%= link_to ("Create NEW BOAT"), new_boat_path %>

</div>

<hr>
<br><br>


<% @boats.each do |boat| %>
  NAME: <%= boat.name %> <br>
  MAXIMUM CONTAINERS: <%= boat.maxcontainers %> <br>
  COMPANY ID: <%= boat.company_id %> <br>
  LOCATION: <%= boat.location %> <br>


  <%= link_to ("Owned By"), company_path(boat.company_id) %>

  <br><br>

  <%= link_to ("Boat show page"), boat_path(boat.id) %> |
  <%= link_to 'Delete boat',  { action: :destroy, id: boat.id }, method: :delete %>
  <hr>

<% end %>
