
<h2>List of All Boats</h2>

<div class="link1">
  <h3> <%= link_to ("Create New Boat"), new_boat_path %> </h3>

</div>

<hr>


<% @boats.each do |boat| %>
  <strong>NAME:</strong> <%= boat.name %> <br>
  <strong>MAXIMUM CONTAINERS:</strong> <%= boat.maxcontainers %> <br>
  <strong>COMPANY ID:</strong> <%= boat.company_id %> <br>
  <strong>LOCATION:</strong> <%= boat.location %> <br>


  <%= link_to ("Owned By"), company_path(boat.company_id) %>

  <br><br>

  <%= link_to ("View This Boat"), boat_path(boat.id) %> |
  <%= link_to 'Delete Boat',  { action: :destroy, id: boat.id }, method: :delete %>
  <hr>

<% end %>
