<!DOCTYPE html>
<html>
  <head>
    <title>ShippedWorkshop</title>
    <%= csrf_meta_tags %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper blue">

        <a class="brand-logo center" href="<%= link_to 'Company', company_path(current_company.id) %>">NYC Shipping</a>

        <ul class="left hide-on-med-and-down">

          <% if (company_signed_in?) %>

            <li><a href="<%= link_to 'Sign Out', { :action => "destroy", :controller => "devise/sessions" }, :class => "sign-out", method: :delete %>">Sign Out</a></li>

            <li><a href="/jobs">Jobs</a></li>

            <li><a href="/boats">Boats</a></li>

            <li><a href="/companies/edit">Edit Info</a></li>

          <% else %>

            <li><a href="<%= link_to 'Company Sign In', new_company_session_path, :class => "sign-in" %>
            ">Sign In</a></li>

            <li><a href="<%= link_to 'Company Sign Up', new_company_registration_path, :class =>"sign-up"%>
            ">Sign Up</a></li>

          <% end %>

          <li class="active"><a href="collapsible.html"></a></li>
        </ul>
      </div>
    </nav>
  </div>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </body>
</html>
