<!DOCTYPE html>
<html>
 <head>
   <title>ShippedWorkshop</title>
   <%= csrf_meta_tags %>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>

 <body>


   <nav class="navbar">
       <div class="container-fluid">
         <div class="navbar-header">
           <a class="navbar-brand logo" href="/">ShippIt</a>
         </div>

       <div class="links pull-right">
         <% if  (company_signed_in?)%>
       <div class="links pull-left">
               <%= link_to ("Companies"), company_path(current_company.id) %>  |
               <%= link_to ("Boats"), boats_path %>  |
               <%= link_to ("Jobs"), jobs_path %>  |
               <%= link_to "Sign out", { :action => "destroy",  :controller=> "devise/sessions"}, method: :delete %>
      </div>
       <% else %>
             <%= link_to "Sign In", new_company_session_path %>
             <%= link_to "Sign Up", new_company_registration_path %>
       <% end %>
     </div>
     </div>
   </nav>




   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

   <%= yield %>


   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 </body>
</html>
